<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>RailsBridge : Teaching Kids Project : Blog : {{ post.title }}</title>
    <link href="/stylesheets/application.css" media="all" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <div id='container'>
      <div id='top'><img alt="Logo" src="/images/logo.png" /></div>
      <div id="main">
        <h1>{{ page.title }}</h1>
        {{ content }}
      </div>
      <div id="bottom">
        <h3>Other Posts:</h3>
        <ul class="posts">
          {% for post in site.posts %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
