#container

  #top 

    = img "logo.png"

    %h1 Lessons
    
    %ul
      %li 
        = link_to 'teachingkids', 'http://github.com/railsbridge/teachingkids/tree/master' 
        Our online lesson repository

    .clear

    #bottom

    %p
      = link_to 'Home', 'index.html'