#container

  #top 

    = img "logo.png"

    %h1 Resources
    
    %ul
      %li 
        = link_to 'RubyLearning', 'http://rubylearning.org/' 
        All of their courses are online and most of them are free. Topics include: Core Ruby, Git & GitHub, FXRuby, Twitter & Ruby, Shoes, JRuby, Sinatra and Merb.

    .clear

    #bottom

    %p
      = link_to 'Home', 'index.html'