---
title: Home
layout: application
---
<h1>The Teaching Kids Mission:</h1>
<p>Encouraging kids to create computer applications by providing support and curricula</p>
<h2>Who is this for?</h2>
<ul>
  <li>Teachers who want to help kids to understand a part of the world they live in</li>
  <li>Parents who want to teach their kids or encourage their schools to teach programming</li>
  <li>People who write code and want to share their love of software development</li>
</ul>
</div>

<div id='left'>
<h2>Explore:</h2>
<ul>
  <li>
    <a href="lessons.html">Lessons</a>
  </li>
  <li>
    <a href="languages.html">Languages</a>
  </li>
  <li>
    <a href="resources.html">Resources</a>
  </li>
</ul>
<h2>Blog</h2>
<ul class="posts">
{% for post in site.posts %}
  <li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<h2>Links</h2>
<ul>
  <li>
    <a href="http://railsbrige.org/">RailsBridge</a>
  </li>
  <li>
    <a href="http://www.csta.acm.org/">CSTA</a>
  </li>
  <li>
    <a href="http://www.iste.org/">ISTE</a>
  </li>
</ul>
</div>
<div id='right'>
<h2>Latest News</h2>
<div class="posts">
          {% for post in site.posts %}
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p>{{ post.content }}</p>
          {% endfor %}
</div>
</div>

<div class='clear'></div>
<div id='bottom'></div>
<p>
<a href="http://railsbridge.org">Main RailsBridge Site</a>
</p>
